<script src="js/color.js"></script>
<link rel="stylesheet" href="css/blognav.css">
<div class="post-div">
    <input type="color" id="bgcolor" name="bgcolor" value="#ffffff" name="bgcolor"/>
    <label for="bgcolor">bgcolor</label>
    <input type="color" id="color" name="color" />
    <label for="bgcolor">font color</label>
    <button type="button" onclick="applyBold('bold')">Bold</button>
    <button type="button" onclick="applyItalic('italic')">Italic</button>
    <button type="button"><img src="/justify-left.svg" alt="justify-left" onclick="alignLeft()"></button>
    <button type="button"><img src="/justify-right.svg" alt="justify-right"  onclick="alignRight()"></button>
    <button type="button"><img src="/justify.svg" alt="justify-center"  onclick="alignCenter()" ></button>
    <select id="font" name="font">
        <option value="Lucida-grande">Lucida-grande</option>
        <option value="Lucida">Lucida Sans</option>
        <option value="Arial">Arial</option>
        <option value="Times New Roman">Times New Roman</option>
        <option value="Verdana">Verdana</option>
        <option value="Courier New">Courier New</option>
        <option value="Georgia">Georgia</option>
        <option value="Impact">Impact</option>
        <!-- Add more font options as needed -->
    </select>
</div>
