<link rel="stylesheet" href="css/footer.css">
<footer>
    <h1>A website by <a href="github.com/Sarthakdevil">Sarthak Devloper</a></h1>
    <p class="text-center">All rights reserved @2024</p>
</footer>