<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Imprima&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <%-include('./nav.ejs')%>
    <hr>
    <div class="slideshow-container">

        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="blog-making-.png" style="width:100%">
          <div class="text">Caption Text</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="blogging.png" style="width:100%">
          <div class="text">Caption Two</div>
        </div>
        
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="blogging-1.png" style="width:100%">
          <div class="text">Caption Three</div>
        </div>
        <a class="prev" onclick="plusSlides(-1)">❮</a>
        <a class="next" onclick="plusSlides(1)">❯</a>
        
        </div>
        <div class="blogs">
          <% if (Blogs.length > 0) { %>
                  <% Blogs.forEach(blog => { %>
                      <div class="blog-container">
                          <% if (blog.banner && blog.banner.secure_url) { %>
                              <img class="poster" src="<%= blog.banner.secure_url %>" alt="Banner Image">
                          <% } else { %>
                              <!-- Provide a fallback image or placeholder image if the banner image doesn't exist -->
                              <img src="default.png" alt="Fallback Image">
                          <% } %>
                          <h2><%= blog.heading %></h2>
                      </div>
                  <% }); %>
          <% } else { %>
              <p>No blogs found.</p>
          <% } %>
      </div>
        <%-include("footer") %>
        <script src="js/home.js">
            </script>
</body>
</html>