    <link rel="stylesheet" href="css/nav.css">
    <nav id="top">
        <img src="Blogger.svg" alt="logo" id="logo">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/blog">blog</a></li>
        </ul>
    </nav>
