<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/post.css">
    <title>Document</title>
</head>
<body>

    <form action="/submit" method="post"  enctype="multipart/form-data">
        <span class="file-input-container">
            <!-- Actual file input -->
            <label class="file-input-label" for="file-input">
                <img class="plus-icon" src="Plus.png" alt="Upload">
            </label>
            <input type="file" class="file-input" id="file-input" name="banner"  accept=".jpg,.jpeg,.png"/>
            <img src="#" alt="Uploaded Image" class="uploaded-image" style="display: none;">
            <!-- "+" icon -->
        </span>
        <hr>
        <textarea name="heading" id="heading" placeholder="Here goes heading" oninput="autoAdjustHeight(this)" class="auto-adjust"></textarea>
        <textarea name="subheading" id="subheading" placeholder="Here goes subheading" oninput="autoAdjustHeight(this)" class="auto-adjust"></textarea>
        <textarea name="content" placeholder="Here goes content" id="content" oninput="autoAdjustHeight(this)" class="auto-adjust"></textarea>
        <span class="file-input-container-bottom auto-adjust">
            <!-- Actual file input -->
            <label class="file-input-label-bottom auto-adjust" for="file-input-bottom">
                <img class="plus-icon-bottom" src="Plus.png" alt="Upload">
            </label>
            <input type="file" class="file-input-bottom" id="file-input-bottom" name="image" accept=".jpg,.jpeg,.png"/> />
            <img src="#" alt="Uploaded Image" class="uploaded-image" id="uploadedImage-1"  style="display: none;">
            <!-- "+" icon -->
        </span>
        <button id="submit" type="submit">submit your blog</button>
    </form>
    <script src="js/post.js"></script>
</body>
</html>
